---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@components/sections/ContactSection.astro";
import { SITE } from "@data/constants";

const pageTitle: string = `Contact | ${SITE.title}`;
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->
<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://www.shoftime.tech/contact",
    "url": "https://www.shoftime.tech/contact",
    "name": "Contact Us | Shoftime`DTCA",
    "description":
      "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our team and services.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://www.shoftime.tech/",
      "name": "Shoftime`DTCA",
      "description":
        "We're not exactly the best team, although we build great ones",
    },
    "inLanguage": "en-US"
  }}
>
  <div class="rounded-xl bg-[url('/social_media1.svg')] bg-cover md:bg-[url('/social_media.svg')] md:bg-contain bg-center bg-no-repeat p-4 shadow-sm">
    <ContactSection />
  </div>
</MainLayout>
