---
import MainLayout from "../../layouts/MainLayout.astro";
import CardSmallPorto from "@components/ui/cards/CardSmallPorto.astro";
import CardWidePorto from "@components/ui/cards/CardWidePorto.astro";
import HeroSectionAlt from "../../components/sections/landing/HeroSectionAlt.astro";
import { SITE } from "@data/constants";
import majesticMixer from "@images/majesticmixer.png";
import beeyondThePages from "@images/beeyondThepages1.png";
import rabiberes from "@images/rabiberes1.png";
import adminRabiberes from "@images/adminRabiberes.png";
import rokokReview from "@images/rokokReview.png";

// Define variables for page content
const title: string = "Projects We Have";
const subTitle: string =
  "Explore the diverse range of projects we've successfully completed at Shoftime. Our completed projects reflect our ability to tackle complex challenges, deliver exceptional results, and drive success for businesses across various industries. We take pride in our work and are dedicated to continuously pushing the boundaries of what’s possible.";

const pageTitle: string = `Portfolio | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title.split("Portfolio")[0]}
        <span class="text-yellow-500 dark:text-yellow-400">Completed</span>
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  <!--portfolio section-->
  <section class="features-slider">
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8 mt-10">
      <!-- Directly use CardSmallPorto and CardWidePorto components -->
      <CardSmallPorto
        porto={{
          title: "The Majestic Mixer",
          image: majesticMixer,
          alt: "Majestic Mixer"
        }}
        href="/portfolio/majestic-mixer"
      />
      <CardWidePorto
        porto={{
          title: "Beeyond the Pages",
          image: beeyondThePages,
          alt: "Beeyond the Pages"
        }}
        href="/portfolio/beeyond-the-pages"
      />
      <CardWidePorto
      porto={{
        title: "Wedding Website Planner",
        image: rabiberes,
        alt: "Rabiberes"
      }}
      href="/portfolio/rabi-beres"
      />
      <CardSmallPorto
        porto={{
          title: "Admin Panel for Weddings Organizers",
          image: adminRabiberes,
          alt: "Admin Rabiberes"
        }}
        href="/portfolio/admin-rabi-beres"
      />
      <CardSmallPorto
        porto={{
          title: "Cigarette Review",
          image: rokokReview,
          alt: "Cigarette Review"
        }}
        href="/portfolio/rokok-review"
      />
    </section>
  </section>

  <!--portfolio section-->
  <HeroSectionAlt
    title="Let's Grow Together"
    subTitle="We're always looking for ways to improve our portfolios and services. If you have any suggestions or feedback, please don't hesitate to reach out. We'd love to hear from you!"
    url="https://wa.me/6281339541611"
  />
</section>

</MainLayout>

