---
import MainLayout from "../../layouts/MainLayout.astro";
import FeaturesRabiberes from "@/components/sections/features/FeaturesRabiberes.astro";
import featureImage2 from "@images/rabiberes.png";
import rabiberes from "@/data_files/features/rabiberes.json";
import { SITE } from "@data/constants";

const pageTitle: string = `Portfolio | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
>
  <!--portfolio section-->
  <section class="mx-auto max-w-[85rem] space-y-8 px-4 pt-10 sm:px-6 lg:px-8 2xl:max-w-full">
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        Detail Project
        <span class="text-yellow-500 dark:text-yellow-400">Completed</span>
      </h1>
    </div>
    <div class="features-slider-item">
      <FeaturesRabiberes
        title="Platform for Wedding Organizers rabiberes.com"
        src={featureImage2}
        subTitle="rabiberes.com is a platform that connects wedding organizers with vendors who can offer their services. It is designed to be user friendly and easy to use, and users can customize whatever vendor they want."
        alt="Platform for weddings Organizers"
        features={rabiberes}
      />
    </div>
  </section>
  <!--portfolio section-->
</MainLayout>
